<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add</title></head>
<body>
<a href="/eatingAdd">
    <button>Add</button>
</a>
<a href="/oneEating">
    <button>Get by date</button>
</a>
<a href="/eatingUpdate">
    <button>Update</button>
</a>
<a href="/eatingDelete">
    <button>Delete</button>
</a>
<a href="/web/eating">
    <button>Index</button>
</a>
<br>
You can add eating information here.
<form action="/web/eating/save" method="post">
    <label for="date">Date:</label>
    <input type="text" name="date" id="date" required><br/>

    <label for="calories">Calories:</label>
    <input type="number" name="calories" id="calories" required><br/>

    <label for="food">Food:</label>
    <input type="text" name="food" id="food" required><br/>

    <button type="submit">Save</button>
</form>
</body>
</html>