<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SomeDay information</title>
</head>
<body>
<a href="/eatingAdd">
    <button>Add</button>
</a>
<a href="/oneEating">
    <button>Get by date</button>
</a>
<a href="/eatingUpdate">
    <button>Update</button>
</a>
<a href="/eatingDelete">
    <button>Delete</button>
</a>
<a href="/web/eating">
    <button>Index</button>
</a>

<div align="center">
    <table>
        <tr>
            <th>Date</th>
            <th>Calories</th>
            <th>Food</th>
        </tr>
        <td th:text="${date}"></td>
        <td th:text="${calories}"></td>
        <td th:text="${food}"></td>

    </table>

</div>
<a href="/oneEating">
    <button>Back</button>
</a>
</body>
</html>